style
ul.a {
    list-style-type: circle;
  }
ul.b {
    list-style-type: square;
  }
body {
    background-color: #f6f6f6;
  }
  
  h1 {
    color: black;
    text-align: left;
  }

  p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 5px;
  }