style
ul.a {
    list-style-type: circle;
  }
body {
    background-color: gray;
  }
  
  h1 {
    color: black;
    text-align: left;
  }
  
  p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 5px;
  }